In [1]:
import numpy as np
import pandas as pd
import scipy.stats as sts

In [2]:
!gdown 1i6O43dTmP1cQHOK67de2pLDXabdWT-3Y

Downloading...
From: https://drive.google.com/uc?id=1i6O43dTmP1cQHOK67de2pLDXabdWT-3Y
To: /content/ECDCCases.csv
100% 4.31M/4.31M [00:00<00:00, 29.8MB/s]

## Task 1

In [3]:
df = pd.read_csv('ECDCCases.csv')
df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
4,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266

## Task 2

In [4]:
for column in df.columns:
    missing = np.mean(df[column].isna() * 100)
    print(f'{column} : {round(missing, 1)}%')

dateRep : 0.0%
day : 0.0%
month : 0.0%
year : 0.0%
cases : 0.0%
deaths : 0.0%
countriesAndTerritories : 0.0%
geoId : 0.4%
countryterritoryCode : 0.2%
popData2019 : 0.2%
continentExp : 0.0%
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000 : 4.7%

In [5]:
df = df.drop(['Cumulative_number_for_14_days_of_COVID-19_cases_per_100000', 'geoId'], axis=1)

In [7]:
categorical_attributes = [
    'dateRep',
    'countriesAndTerritories',
    'countryterritoryCode',
    'continentExp'
]

In [8]:
for column in list(df.columns):
    if column in categorical_attributes:
        df[column] = df[column].fillna('other')
    else:
        df[column] = df[column].fillna(np.median(df[column]))

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61904 entries, 0 to 61903
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   dateRep                  61904 non-null  object
 1   day                      61904 non-null  int64
 2   month                    61904 non-null  int64
 3   year                     61904 non-null  int64
 4   cases                    61904 non-null  int64
 5   deaths                   61904 non-null  int64
 6   countriesAndTerritories  61904 non-null  object
 7   countryterritoryCode     61904 non-null  object
 8   popData2019              61904 non-null  float64
 9   continentExp             61904 non-null  object
dtypes: float64(1), int64(5), object(4)
memory usage: 4.7+ MB

## Task 3

In [10]:
df.describe()

,day,month,year,cases,deaths,popData2019
count,61904.000000,61904.000000,61904.000000,61904.000000,61904.000000,6.190400e+04
mean,15.629232,7.067104,2019.998918,1155.079026,26.053987,4.098628e+07
std,8.841624,2.954816,0.032881,6779.010824,131.222948,1.529724e+08
min,1.000000,1.000000,2019.000000,-8261.000000,-1918.000000,8.150000e+02
25%,8.000000,5.000000,2020.000000,0.000000,0.000000,1.324820e+06
50%,15.000000,7.000000,2020.000000,15.000000,0.000000,7.813207e+06
75%,23.000000,10.000000,2020.000000,273.000000,4.000000,2.860872e+07
max,31.000000,12.000000,2020.000000,234633.000000,4928.000000,1.433784e+09

In [11]:
df['year'].value_counts()

2020    61837
2019       67
Name: year, dtype: int64

In [12]:
df[df['deaths'] < 0]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,countryterritoryCode,popData2019,continentExp
15115,06/07/2020,6,7,2020,75,-3,Czechia,CZE,10649800.0,Europe
15116,05/07/2020,5,7,2020,121,-1,Czechia,CZE,10649800.0,Europe
28209,03/10/2020,3,10,2020,466,-5,Ireland,IRL,4904240.0,Europe
29273,25/06/2020,25,6,2020,577,-31,Italy,ITA,60359546.0,Europe
31306,06/08/2020,6,8,2020,218,-12,Kosovo,XKX,1798506.0,Europe
31911,24/08/2020,24,8,2020,237,-443,Kyrgyzstan,KGZ,6415851.0,Asia
52850,12/08/2020,12,8,2020,3172,-2,Spain,ESP,46937060.0,Europe
52929,25/05/2020,25,5,2020,-372,-1918,Spain,ESP,46937060.0,Europe

In [13]:
df_deathes_3000 = df[df['deaths'] > 3000]
print(f'Кол-во дней: {len(df_deathes_3000)}')
print('Список стран:', df_deathes_3000['countriesAndTerritories'].unique())

Кол-во дней: 11
Список стран: ['Argentina' 'Ecuador' 'Mexico' 'Peru' 'United_States_of_America']

## Task 4

In [14]:
df.duplicated()

0        False
1        False
2        False
3         True
4        False
         ...
61899    False
61900    False
61901    False
61902    False
61903    False
Length: 61904, dtype: bool

In [15]:
df[df.duplicated()]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,countryterritoryCode,popData2019,continentExp
3,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,38041757.0,Asia
218,12/05/2020,12,5,2020,285,2,Afghanistan,AFG,38041757.0,Asia
48010,29/05/2020,29,5,2020,0,0,Saint_Lucia,LCA,182795.0,America
48073,28/03/2020,28,3,2020,0,0,Saint_Lucia,LCA,182795.0,America

In [16]:
df = df.drop_duplicates()
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,countryterritoryCode,popData2019,continentExp
0,14/12/2020,14,12,2020,746,6,Afghanistan,AFG,38041757.0,Asia
1,13/12/2020,13,12,2020,298,9,Afghanistan,AFG,38041757.0,Asia
2,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,38041757.0,Asia
4,11/12/2020,11,12,2020,63,10,Afghanistan,AFG,38041757.0,Asia
5,10/12/2020,10,12,2020,202,16,Afghanistan,AFG,38041757.0,Asia
...,...,...,...,...,...,...,...,...,...,...
61899,25/03/2020,25,3,2020,0,0,Zimbabwe,ZWE,14645473.0,Africa
61900,24/03/2020,24,3,2020,0,1,Zimbabwe,ZWE,14645473.0,Africa
61901,23/03/2020,23,3,2020,0,0,Zimbabwe,ZWE,14645473.0,Africa
61902,22/03/2020,22,3,2020,1,0,Zimbabwe,ZWE,14645473.0,Africa
61903,21/03/2020,21,3,2020,1,0,Zimbabwe,ZWE,14645473.0,Africa

## Task 5

In [17]:
!gdown 1wy9HdcGs9Is1qfntFWuUDwwCo6ZMuDKp

Downloading...
From: https://drive.google.com/uc?id=1wy9HdcGs9Is1qfntFWuUDwwCo6ZMuDKp
To: /content/bmi.csv
100% 10.8k/10.8k [00:00<00:00, 17.5MB/s]

In [18]:
df_bmi = pd.read_csv('bmi.csv')
df_bmi

        bmi     region
0    22.705  northwest
1    28.880  northwest
2    27.740  northwest
3    25.840  northwest
4    28.025  northwest
..      ...        ...
645  20.600  southwest
646  38.600  southwest
647  33.400  southwest
648  44.700  southwest
649  25.800  southwest

[650 rows x 2 columns]

In [19]:
df_northwest = df_bmi[df_bmi.region == 'northwest'].reset_index(drop=True)
df_southwest = df_bmi[df_bmi.region == 'southwest'].reset_index(drop=True)

### Критерий Шапиро-Уилка

In [21]:
print(f'Север: {sts.shapiro(df_northwest.bmi)}\n Юг: {sts.shapiro(df_southwest.bmi)}')

Север: ShapiroResult(statistic=0.9954643249511719, pvalue=0.46545225381851196)
 Юг: ShapiroResult(statistic=0.994927167892456, pvalue=0.3630009591579437)

## Критерий Бартлетта

In [22]:
print(sts.bartlett(df_southwest.bmi, df_northwest.bmi))

BartlettResult(statistic=3.4000745256459286, pvalue=0.06519347353581818)

p-уровень превышает 0.05 незначительно, десперсии скорее всего имеют отличия

### Критерий Стьюдента

In [23]:
print(sts.ttest_ind(df_southwest.bmi, df_northwest.bmi))

Ttest_indResult(statistic=3.2844171500398582, pvalue=0.001076958496307695)

p-значение намного ниже 0.05, следовательно нулевая гипотеза отвергается, выборки принадлежат к разным генеральным совокупностям и их средние значения различны.

## Task 6

In [24]:
data = {
    'n': [1, 2, 3, 4, 5, 6],
    'num': [97, 98, 109, 95, 97, 104],
    'expected': [100] * 6
}
df_cub = pd.DataFrame(data)
df_cub

   n  num  expected
0  1   97       100
1  2   98       100
2  3  109       100
3  4   95       100
4  5   97       100
5  6  104       100

### Критерий Хи-квадрата

In [25]:
sts.chisquare(df_cub.num, df_cub.expected)

Power_divergenceResult(statistic=1.44, pvalue=0.9198882077437889)

## Task 7

In [24]:
data = pd.DataFrame(
    {
    'Женат': [89, 17, 11, 43, 22, 1],
    'Гражданский брак': [80, 22, 20, 35, 6, 4],
    'Не состоит в отношениях':[35, 44, 35, 6, 8, 22]
    })
data.index = [
    'Полный рабочий день',
    'Частичная занятость',
    'Временно не работает',
    'На домохозяйстве',
    'На пенсии',
    'Учёба']
data

                      Женат  Гражданский брак  Не состоит в отношениях
Полный рабочий день      89                80                       35
Частичная занятость      17                22                       44
Временно не работает     11                20                       35
На домохозяйстве         43                35                        6
На пенсии                22                 6                        8
Учёба                     1                 4                       22

In [25]:
sts.chi2_contingency(data)[:3]

(122.29654948595365, 1.7291616900960234e-21, 10)